{% comment %}
  Renders a header drawer menu for mobile and desktop.

  Usage:
  {% render 'header-drawer' %}
{% endcomment %}
<header-drawer data-breakpoint="desktop">
  <details id="Details-menu-drawer-container" class="menu-drawer-container">
    <summary
      class="header__icon header__icon--menu header__icon--summary link focus-inset"
      aria-label="{{ 'sections.header.menu' | t }}"
    >
      <span>
        {% render 'icon-hamburger' %}
        {% render 'icon-close' %}
      </span>
    </summary>
    <div id="menu-drawer" class="gradient menu-drawer motion-reduce color-{{ section.settings.menu_color_scheme }}">
      <div class="menu-drawer__inner-container">
        <div class="menu-drawer__navigation-container">
          <nav class="menu-drawer__navigation">
            <ul class="menu-drawer__menu has-submenu list-menu" role="list">
              <li>
                <details id="Details-menu-drawer-menu-item-1">
                  <summary
                    id="HeaderDrawer-clip-ins"
                    class="menu-drawer__menu-item list-menu__item link link--text focus-inset"
                  >
                    {{ 'navbar.top_level.clip_ins' | t }}
                    {% render 'icon-arrow' %}
                    {% render 'icon-caret' %}
                  </summary>
                  <div
                    id="link-clip-ins"
                    class="menu-drawer__submenu has-submenu gradient motion-reduce"
                    tabindex="-1"
                  >
                    <div class="menu-drawer__inner-submenu">
                      <button class="menu-drawer__close-button link link--text focus-inset" aria-expanded="true">
                        {% render 'icon-arrow' %}
                        {{ 'navbar.helpers.back' | t }}
                      </button>
                      <ul class="menu-drawer__menu list-menu" role="list" tabindex="-1">
                        {% render 'header-drawer-clip-in' %}
                      </ul>
                    </div>
                  </div>
                </details>
              </li>

              <li>
                <details id="Details-menu-drawer-menu-item-2">
                  <summary
                    id="HeaderDrawer-professional"
                    class="menu-drawer__menu-item list-menu__item link link--text focus-inset"
                  >
                    {{ 'navbar.top_level.professional' | t }}
                    {% render 'icon-arrow' %}
                    {% render 'icon-caret' %}
                  </summary>
                  <div
                    id="link-professional"
                    class="menu-drawer__submenu has-submenu gradient motion-reduce"
                    tabindex="-1"
                  >
                    <div class="menu-drawer__inner-submenu">
                      <button class="menu-drawer__close-button link link--text focus-inset" aria-expanded="true">
                        {% render 'icon-arrow' %}
                        {{ 'navbar.helpers.back' | t }}
                      </button>
                      <ul class="menu-drawer__menu list-menu" role="list" tabindex="-1">
                        {% render 'header-drawer-professional' %}
                      </ul>
                    </div>
                  </div>
                </details>
              </li>

              <li>
                <details id="Details-menu-drawer-menu-item-3">
                  <summary
                    id="HeaderDrawer-shop-by-shade"
                    class="menu-drawer__menu-item list-menu__item link link--text focus-inset"
                  >
                    {{ 'navbar.top_level.shop_by_shade' | t }}
                    {% render 'icon-arrow' %}
                    {% render 'icon-caret' %}
                  </summary>
                  <div
                    id="link-shop-by-shade"
                    class="menu-drawer__submenu has-submenu gradient motion-reduce"
                    tabindex="-1"
                  >
                    <div class="menu-drawer__inner-submenu">
                      <button class="menu-drawer__close-button link link--text focus-inset" aria-expanded="true">
                        {% render 'icon-arrow' %}
                        {{ 'navbar.helpers.back' | t }}
                      </button>
                      <ul class="menu-drawer__menu list-menu" role="list" tabindex="-1">
                        {% render 'header-drawer-shop-by-shade' %}
                      </ul>
                    </div>
                  </div>
                </details>
              </li>

              <li>
                <details id="Details-menu-drawer-menu-item-4">
                  <summary
                    id="HeaderDrawer-help-me-choose"
                    class="menu-drawer__menu-item list-menu__item link link--text focus-inset{% if link.child_active %} menu-drawer__menu-item--active{% endif %}"
                  >
                    {{ 'navbar.top_level.help_me_choose' | t }}
                    {% render 'icon-arrow' %}
                    {% render 'icon-caret' %}
                  </summary>
                  <div
                    id="link-help-me-choose"
                    class="menu-drawer__submenu has-submenu gradient motion-reduce"
                    tabindex="-1"
                  >
                    <div class="menu-drawer__inner-submenu">
                      <button class="menu-drawer__close-button link link--text focus-inset" aria-expanded="true">
                        {% render 'icon-arrow' %}
                        {{ 'navbar.helpers.back' | t }}
                      </button>
                      <ul class="menu-drawer__menu list-menu" role="list" tabindex="-1">
                        {% render 'header-drawer-help-me-choose' %}
                      </ul>
                    </div>
                  </div>
                </details>
              </li>

              <li>
                <details id="Details-menu-drawer-menu-item-5">
                  <summary
                    id="HeaderDrawer-haircare-accessories"
                    class="menu-drawer__menu-item list-menu__item link link--text focus-inset"
                  >
                    HAIRCARE & ACCESSORIES
                    {% render 'icon-arrow' %}
                    {% render 'icon-caret' %}
                  </summary>
                  <div
                    id="link-haircare-accessories"
                    class="menu-drawer__submenu has-submenu gradient motion-reduce"
                    tabindex="-1"
                  >
                    <div class="menu-drawer__inner-submenu">
                      <button class="menu-drawer__close-button link link--text focus-inset" aria-expanded="true">
                        {% render 'icon-arrow' %}
                        BACK
                      </button>
                      <ul class="menu-drawer__menu list-menu" role="list" tabindex="-1">
                        <li>
                          <details id="Details-menu-drawer-haircare-accessories-haircare">
                            <summary
                              id="HeaderDrawer-haircare-accessories-haircare"
                              class="menu-drawer__menu-item link link--text list-menu__item focus-inset"
                            >
                              Haircare
                              {% render 'icon-arrow' %}
                              {% render 'icon-caret' %}
                            </summary>
                            <div
                              id="childlink-haircare"
                              class="menu-drawer__submenu has-submenu gradient motion-reduce"
                            >
                              <button
                                class="menu-drawer__close-button link link--text focus-inset"
                                aria-expanded="true"
                              >
                                {% render 'icon-arrow' %}
                                BACK
                              </button>
                              <ul
                                class="menu-drawer__menu list-menu"
                                role="list"
                                tabindex="-1"
                              >
                                <li>
                                  <a
                                    id="HeaderDrawer-haircare-accessories-haircare-all"
                                    href="/collections/hair-care"
                                    class="menu-drawer__menu-item link link--text list-menu__item focus-inset{% if request.path == '/collections/hair-care' %} menu-drawer__menu-item--active{% endif %}"
                                    {% if request.path == '/collections/hair-care' %}
                                      aria-current="page"
                                    {% endif %}
                                  >
                                    All Haircare
                                  </a>
                                </li>
                                <li>
                                  <a
                                    id="HeaderDrawer-haircare-accessories-haircare-shampoo"
                                    href="/products/quench-the-thirst-deep-moisture-shampoo"
                                    class="menu-drawer__menu-item link link--text list-menu__item focus-inset{% if request.path == '/products/quench-the-thirst-deep-moisture-shampoo' %} menu-drawer__menu-item--active{% endif %}"
                                    {% if request.path == '/products/quench-the-thirst-deep-moisture-shampoo' %}
                                      aria-current="page"
                                    {% endif %}
                                  >
                                    Deep Moisture Shampoo
                                  </a>
                                </li>

                                <li>
                                  <a
                                    id="HeaderDrawer-haircare-accessories-haircare-conditioner"
                                    href="/products/quench-the-thirst-deep-moisture-conditioner"
                                    class="menu-drawer__menu-item link link--text list-menu__item focus-inset{% if request.path == '/products/quench-the-thirst-deep-moisture-conditioner' %} menu-drawer__menu-item--active{% endif %}"
                                    {% if request.path == '/products/quench-the-thirst-deep-moisture-conditioner' %}
                                      aria-current="page"
                                    {% endif %}
                                  >
                                    Deep Moisture Conditioner
                                  </a>
                                </li>

                                <li>
                                  <a
                                    id="HeaderDrawer-haircare-accessories-haircare-hair-mask"
                                    href="/products/quench-the-thirst-deep-conditioning-hair-mask"
                                    class="menu-drawer__menu-item link link--text list-menu__item focus-inset{% if request.path == '/products/quench-the-thirst-deep-conditioning-hair-mask' %} menu-drawer__menu-item--active{% endif %}"
                                    {% if request.path == '/products/quench-the-thirst-deep-conditioning-hair-mask' %}
                                      aria-current="page"
                                    {% endif %}
                                  >
                                    Deep Moisture Hair Mask
                                  </a>
                                </li>

                                <li>
                                  <a
                                    id="HeaderDrawer-haircare-accessories-haircare-purple-shampoo"
                                    href="/products/silver-lining-purple-toning-shampoo"
                                    class="menu-drawer__menu-item link link--text list-menu__item focus-inset{% if request.path == '/products/silver-lining-purple-toning-shampoo' %} menu-drawer__menu-item--active{% endif %}"
                                    {% if request.path == '/products/silver-lining-purple-toning-shampoo' %}
                                      aria-current="page"
                                    {% endif %}
                                  >
                                    Purple Toning Shampoo
                                  </a>
                                </li>

                                <li>
                                  <a
                                    id="HeaderDrawer-haircare-accessories-haircare-moisture-spray"
                                    href="/products/cliphair-silky-hair-spray"
                                    class="menu-drawer__menu-item link link--text list-menu__item focus-inset{% if request.path == '/products/cliphair-silky-hair-spray' %} menu-drawer__menu-item--active{% endif %}"
                                    {% if request.path == '/products/cliphair-silky-hair-spray' %}
                                      aria-current="page"
                                    {% endif %}
                                  >
                                    Silky Moisture Spray
                                  </a>
                                </li>

                                <li>
                                  <a
                                    id="HeaderDrawer-haircare-accessories-haircare-heat-spray"
                                    href="/products/cliphair-heat-spray"
                                    class="menu-drawer__menu-item link link--text list-menu__item focus-inset{% if request.path == '/products/cliphair-heat-spray' %} menu-drawer__menu-item--active{% endif %}"
                                    {% if request.path == '/products/cliphair-heat-spray' %}
                                      aria-current="page"
                                    {% endif %}
                                  >
                                    Heat Protection Spray
                                  </a>
                                </li>
                              </ul>
                            </div>
                          </details>
                        </li>

                        <li>
                          <details id="Details-menu-drawer-haircare-accessories-accessories">
                            <summary
                              id="HeaderDrawer-haircare-accessories-accessories"
                              class="menu-drawer__menu-item link link--text list-menu__item focus-inset"
                            >
                              Accessories & Tools
                              {% render 'icon-arrow' %}
                              {% render 'icon-caret' %}
                            </summary>
                            <div
                              id="childlink-accessories"
                              class="menu-drawer__submenu has-submenu gradient motion-reduce"
                            >
                              <button
                                class="menu-drawer__close-button link link--text focus-inset"
                                aria-expanded="true"
                              >
                                {% render 'icon-arrow' %}
                                BACK
                              </button>
                              <ul
                                class="menu-drawer__menu list-menu"
                                role="list"
                                tabindex="-1"
                              >
                                <li>
                                  <a
                                    id="HeaderDrawer-haircare-accessories-accessories-all"
                                    href="/collections/accessories"
                                    class="menu-drawer__menu-item link link--text list-menu__item focus-inset{% if request.path == '/collections/accessories' %} menu-drawer__menu-item--active{% endif %}"
                                    {% if request.path == '/collections/accessories' %}
                                      aria-current="page"
                                    {% endif %}
                                  >
                                    All Accessories & Tools
                                  </a>
                                </li>

                                <li>
                                  <a
                                    id="HeaderDrawer-haircare-accessories-accessories-hanger-and-carrier"
                                    href="/products/hair-extension-hanger-and-carrier-bag"
                                    class="menu-drawer__menu-item link link--text list-menu__item focus-inset{% if request.path == '/products/hair-extension-hanger-and-carrier-bag' %} menu-drawer__menu-item--active{% endif %}"
                                    {% if request.path == '/products/hair-extension-hanger-and-carrier-bag' %}
                                      aria-current="page"
                                    {% endif %}
                                  >
                                    Hair Extensions Hanger & Carrier
                                  </a>
                                </li>

                                <li>
                                  <a
                                    id="HeaderDrawer-haircare-accessories-accessories-extensions-holder"
                                    href="/products/hair-extension-holder"
                                    class="menu-drawer__menu-item link link--text list-menu__item focus-inset{% if request.path == '/products/hair-extension-holder' %} menu-drawer__menu-item--active{% endif %}"
                                    {% if request.path == '/products/hair-extension-holder' %}
                                      aria-current="page"
                                    {% endif %}
                                  >
                                    Hair Extension Holder
                                  </a>
                                </li>

                                <li>
                                  <a
                                    id="HeaderDrawer-haircare-accessories-accessories-pintail"
                                    href="/products/pintail-comb"
                                    class="menu-drawer__menu-item link link--text list-menu__item focus-inset{% if request.path == '/products/pintail-comb' %} menu-drawer__menu-item--active{% endif %}"
                                    {% if request.path == '/products/pintail-comb' %}
                                      aria-current="page"
                                    {% endif %}
                                  >
                                    Pintail Comb
                                  </a>
                                </li>

                                <li>
                                  <a
                                    id="HeaderDrawer-haircare-accessories-accessories-brush"
                                    href="/products/detangling-hair-brush"
                                    class="menu-drawer__menu-item link link--text list-menu__item focus-inset{% if request.path == '/products/detangling-hair-brush' %} menu-drawer__menu-item--active{% endif %}"
                                    {% if request.path == '/products/detangling-hair-brush' %}
                                      aria-current="page"
                                    {% endif %}
                                  >
                                    Hair Extensions Detangling Brush
                                  </a>
                                </li>

                                <li>
                                  <a
                                    id="HeaderDrawer-haircare-accessories-accessories-bristle-brush"
                                    href="/products/bristle-brush-for-hair-extensions"
                                    class="menu-drawer__menu-item link link--text list-menu__item focus-inset{% if request.path == '/products/bristle-brush-for-hair-extensions' %} menu-drawer__menu-item--active{% endif %}"
                                    {% if request.path == '/products/bristle-brush-for-hair-extensions' %}
                                      aria-current="page"
                                    {% endif %}
                                  >
                                    Hair Extensions Bristle Brush <span class="new-arrival"> NEW</span>
                                  </a>
                                </li>

                                <li>
                                  <a
                                    id="HeaderDrawer-haircare-accessories-accessories-clips"
                                    href="/products/alligator-clips"
                                    class="menu-drawer__menu-item link link--text list-menu__item focus-inset{% if request.path == '/products/alligator-clips' %} menu-drawer__menu-item--active{% endif %}"
                                    {% if request.path == '/products/alligator-clips' %}
                                      aria-current="page"
                                    {% endif %}
                                  >
                                    Alligator Clips
                                  </a>
                                </li>

                                <li>
                                  <a
                                    id="HeaderDrawer-haircare-accessories-accessories-wave-comb"
                                    href="/products/wave-comb-and-pouch"
                                    class="menu-drawer__menu-item link link--text list-menu__item focus-inset{% if request.path == '/products/wave-comb-and-pouch' %} menu-drawer__menu-item--active{% endif %}"
                                    {% if request.path == '/products/wave-comb-and-pouch' %}
                                      aria-current="page"
                                    {% endif %}
                                  >
                                    Wave Comb
                                  </a>
                                </li>

                                <li>
                                  <a
                                    id="HeaderDrawer-haircare-accessories-accessories-sanp-clips"
                                    href="/products/snap-clips-loose-5-clips"
                                    class="menu-drawer__menu-item link link--text list-menu__item focus-inset{% if request.path == '/products/snap-clips-loose-5-clips' %} menu-drawer__menu-item--active{% endif %}"
                                    {% if request.path == '/products/snap-clips-loose-5-clips' %}
                                      aria-current="page"
                                    {% endif %}
                                  >
                                    Snap Clips
                                  </a>
                                </li>

                                <li>
                                  <a
                                    id="HeaderDrawer-haircare-accessories-accessories-sample-product"
                                    href="/products/hair-extensions-sample-pieces"
                                    class="menu-drawer__menu-item link link--text list-menu__item focus-inset{% if request.path == '/products/hair-extensions-sample-pieces' %} menu-drawer__menu-item--active{% endif %}"
                                    {% if request.path == '/products/hair-extensions-sample-pieces' %}
                                      aria-current="page"
                                    {% endif %}
                                  >
                                    Hair Extension Sample Pieces
                                  </a>
                                </li>
                              </ul>
                            </div>
                          </details>
                        </li>

                        <li>
                          <details id="Details-menu-drawer-haircare-accessories-professional">
                            <summary
                              id="HeaderDrawer-haircare-accessories-professional"
                              class="menu-drawer__menu-item link link--text list-menu__item focus-inset"
                            >
                              Professional Maintenance
                              {% render 'icon-arrow' %}
                              {% render 'icon-caret' %}
                            </summary>
                            <div
                              id="childlink-professional"
                              class="menu-drawer__submenu has-submenu gradient motion-reduce"
                            >
                              <button
                                class="menu-drawer__close-button link link--text focus-inset"
                                aria-expanded="true"
                              >
                                {% render 'icon-arrow' %}
                                BACK
                              </button>
                              <ul
                                class="menu-drawer__menu list-menu"
                                role="list"
                                tabindex="-1"
                              >
                                <li>
                                  <a
                                    id="HeaderDrawer-haircare-accessories-professional-all"
                                    href="/collections/hair-care/professional-maintenance"
                                    class="menu-drawer__menu-item link link--text list-menu__item focus-inset{% if request.path == '/collections/hair-care/professional-maintenance' %} menu-drawer__menu-item--active{% endif %}"
                                    {% if request.path == '/collections/hair-care/professional-maintenance' %}
                                      aria-current="page"
                                    {% endif %}
                                  >
                                    All Professional Maintenance
                                  </a>
                                </li>

                                <li>
                                  <a
                                    id="HeaderDrawer-haircare-accessories-professional-tape-remover"
                                    href="/products/tape-in-hair-extensions-remover"
                                    class="menu-drawer__menu-item link link--text list-menu__item focus-inset{% if request.path == '/products/tape-in-hair-extensions-remover' %} menu-drawer__menu-item--active{% endif %}"
                                    {% if request.path == '/products/tape-in-hair-extensions-remover' %}
                                      aria-current="page"
                                    {% endif %}
                                  >
                                    Tape Remover Spray
                                  </a>
                                </li>

                                <li>
                                  <a
                                    id="HeaderDrawer-haircare-accessories-professional-spare-tape"
                                    href="/products/spare-tape-pack-for-tape-in-extensions"
                                    class="menu-drawer__menu-item link link--text list-menu__item focus-inset{% if request.path == '/products/spare-tape-pack-for-tape-in-extensions' %} menu-drawer__menu-item--active{% endif %}"
                                    {% if request.path == '/products/spare-tape-pack-for-tape-in-extensions' %}
                                      aria-current="page"
                                    {% endif %}
                                  >
                                    Spare Tape Tabs
                                  </a>
                                </li>

                                <li>
                                  <a
                                    id="HeaderDrawer-haircare-accessories-professional-nano-beads"
                                    href="/products/silicone-lined-nano-rings-beads-200-pack"
                                    class="menu-drawer__menu-item link link--text list-menu__item focus-inset{% if request.path == '/products/silicone-lined-nano-rings-beads-200-pack' %} menu-drawer__menu-item--active{% endif %}"
                                    {% if request.path == '/products/silicone-lined-nano-rings-beads-200-pack' %}
                                      aria-current="page"
                                    {% endif %}
                                  >
                                    Nano Beads
                                  </a>
                                </li>

                                <li>
                                  <a
                                    id="HeaderDrawer-haircare-accessories-professional-colour-ring"
                                    href="/products/hair-extensions-colour-ring"
                                    class="menu-drawer__menu-item link link--text list-menu__item focus-inset{% if request.path == '/products/hair-extensions-colour-ring' %} menu-drawer__menu-item--active{% endif %}"
                                    {% if request.path == '/products/hair-extensions-colour-ring' %}
                                      aria-current="page"
                                    {% endif %}
                                  >
                                    Colour Rings
                                  </a>
                                </li>

                                <li>
                                  <a
                                    id="HeaderDrawer-haircare-accessories-professional-wig-glue"
                                    href="/products/cliphair-wig-glue"
                                    class="menu-drawer__menu-item link link--text list-menu__item focus-inset{% if request.path == '/products/cliphair-wig-glue' %} menu-drawer__menu-item--active{% endif %}"
                                    {% if request.path == '/products/cliphair-wig-glue' %}
                                      aria-current="page"
                                    {% endif %}
                                  >
                                    Wig Glue
                                  </a>
                                </li>

                                <li>
                                  <a
                                    id="HeaderDrawer-haircare-accessories-professional-glue-remover"
                                    href="/products/cliphair-glue-remover"
                                    class="menu-drawer__menu-item link link--text list-menu__item focus-inset{% if request.path == '/products/cliphair-glue-remover' %} menu-drawer__menu-item--active{% endif %}"
                                    {% if request.path == '/products/cliphair-glue-remover' %}
                                      aria-current="page"
                                    {% endif %}
                                  >
                                    Glue Remover
                                  </a>
                                </li>

                                <li>
                                  <a
                                    id="HeaderDrawer-haircare-accessories-professional-spare-tape-and-remover-set"
                                    href="/products/spare-tape-tape-remover"
                                    class="menu-drawer__menu-item link link--text list-menu__item focus-inset{% if request.path == '/products/spare-tape-tape-remover' %} menu-drawer__menu-item--active{% endif %}"
                                    {% if request.path == '/products/spare-tape-tape-remover' %}
                                      aria-current="page"
                                    {% endif %}
                                  >
                                    Tape Remover & Spare Tabs Set
                                  </a>
                                </li>

                                <li>
                                  <a
                                    id="HeaderDrawer-haircare-accessories-professional-wig-glue-and-remover-set"
                                    href="/products/lace-glue-glue-remover"
                                    class="menu-drawer__menu-item link link--text list-menu__item focus-inset{% if request.path == '/products/lace-glue-glue-remover' %} menu-drawer__menu-item--active{% endif %}"
                                    {% if request.path == '/products/lace-glue-glue-remover' %}
                                      aria-current="page"
                                    {% endif %}
                                  >
                                    Wig Glue & Remover Set
                                  </a>
                                </li>

                                <li>
                                  <a
                                    id="HeaderDrawer-haircare-accessories-professional-bundle"
                                    href="/collections/hair-extensions-bundle/hair-care-accessories-bundle"
                                    class="menu-drawer__menu-item link link--text list-menu__item focus-inset{% if request.path == '/collections/hair-extensions-bundle/hair-care-accessories-bundle' %} menu-drawer__menu-item--active{% endif %}"
                                    {% if request.path
                                        == '/collections/hair-extensions-bundle/hair-care-accessories-bundle'
                                    %}
                                      aria-current="page"
                                    {% endif %}
                                  >
                                    Maintenance Value Bundles
                                  </a>
                                </li>
                              </ul>
                            </div>
                          </details>
                        </li>

                        <li>
                          <a
                            id="HeaderDrawer-haircare-accessories-gift-card"
                            href="/products/cliphair-e-gift-card"
                            class="menu-drawer__menu-item link link--text list-menu__item focus-inset{% if request.path == '/products/cliphair-e-gift-card' %} menu-drawer__menu-item--active{% endif %}"
                            {% if request.path == '/products/cliphair-e-gift-card' %}
                              aria-current="page"
                            {% endif %}
                          >
                            E-Gift Card
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </details>
              </li>

              {% comment %}
                <li>
                  <details id="Details-menu-drawer-menu-item-6">
                    <summary
                      id="HeaderDrawer-christmas-shop"
                      class="menu-drawer__menu-item list-menu__item link link--text focus-inset"
                    >
                      CHRISTMAS SHOP
                      {% render 'icon-arrow' %}
                      {% render 'icon-caret' %}
                    </summary>
                    <div
                      id="link-blog"
                      class="menu-drawer__submenu has-submenu gradient motion-reduce"
                      tabindex="-1"
                    >
                      <div class="menu-drawer__inner-submenu">
                        <button class="menu-drawer__close-button link link--text focus-inset" aria-expanded="true">
                          {% render 'icon-arrow' %}
                          BACK
                        </button>
                        <ul class="menu-drawer__menu list-menu" role="list" tabindex="-1">
                          <li>
                            <a
                              id="HeaderDrawer-christmas-shop-all"
                              href="/pages/wish-for-cliphair-holiday-campaign"
                              class="menu-drawer__menu-item link link--text list-menu__item focus-inset{% if request.path == '/pages/wish-for-cliphair-holiday-campaign' %} menu-drawer__menu-item--active{% endif %}"
                              {% if request.path == '/pages/wish-for-cliphair-holiday-campaign' %}
                                aria-current="page"
                              {% endif %}
                            >
                              Shop All
                            </a>
                          </li>

                          <li>
                            <a
                              id="HeaderDrawer-christmas-shop-gift-sets"
                              href="/collections/hair-extensions-gift-sets"
                              class="menu-drawer__menu-item link link--text list-menu__item focus-inset{% if request.path == '/collections/hair-extensions-gift-sets' %} menu-drawer__menu-item--active{% endif %}"
                              {% if request.path == '/collections/hair-extensions-gift-sets' %}
                                aria-current="page"
                              {% endif %}
                            >
                              Christmas Gift Sets
                            </a>
                          </li>

                          <li>
                            <a
                              id="HeaderDrawer-christmas-shop-under-15"
                              href="/collections/under-15"
                              class="menu-drawer__menu-item link link--text list-menu__item focus-inset{% if request.path == '/collections/under-15' %} menu-drawer__menu-item--active{% endif %}"
                              {% if request.path == '/collections/under-15' %}
                                aria-current="page"
                              {% endif %}
                            >
                              Under £15
                            </a>
                          </li>

                          <li>
                            <a
                              id="HeaderDrawer-christmas-shop-under-30"
                              href="/collections/under-30"
                              class="menu-drawer__menu-item link link--text list-menu__item focus-inset{% if request.path == '/collections/under-30' %} menu-drawer__menu-item--active{% endif %}"
                              {% if request.path == '/collections/under-30' %}
                                aria-current="page"
                              {% endif %}
                            >
                              Under £30
                            </a>
                          </li>

                          <li>
                            <a
                              id="HeaderDrawer-christmas-shop-under-50"
                              href="/collections/under-50"
                              class="menu-drawer__menu-item link link--text list-menu__item focus-inset{% if request.path == '/collections/under-50' %} menu-drawer__menu-item--active{% endif %}"
                              {% if request.path == '/collections/under-50' %}
                                aria-current="page"
                              {% endif %}
                            >
                              Under £50
                            </a>
                          </li>

                          <li>
                            <a
                              id="HeaderDrawer-christmas-shop-under-100"
                              href="/collections/under-100"
                              class="menu-drawer__menu-item link link--text list-menu__item focus-inset{% if request.path == '/collections/under-100' %} menu-drawer__menu-item--active{% endif %}"
                              {% if request.path == '/collections/under-100' %}
                                aria-current="page"
                              {% endif %}
                            >
                              Under £100
                            </a>
                          </li>

                          <li>
                            <a
                              id="HeaderDrawer-christmas-shop-stocking-fillers"
                              href="/collections/stocking-stuffers"
                              class="menu-drawer__menu-item link link--text list-menu__item focus-inset{% if request.path == '/collections/stocking-stuffers' %} menu-drawer__menu-item--active{% endif %}"
                              {% if request.path == '/collections/stocking-stuffers' %}
                                aria-current="page"
                              {% endif %}
                            >
                              Stocking Fillers
                            </a>
                          </li>

                          <li>
                            <a
                              id="HeaderDrawer-christmas-shop-party-season"
                              href="/collections/party-season-essentials"
                              class="menu-drawer__menu-item link link--text list-menu__item focus-inset{% if request.path == '/collections/party-season-essentials' %} menu-drawer__menu-item--active{% endif %}"
                              {% if request.path == '/collections/party-season-essentials' %}
                                aria-current="page"
                              {% endif %}
                            >
                              Party Season Essentials
                            </a>
                          </li>

                          <li>
                            <a
                              id="HeaderDrawer-christmas-shop-value-bundles"
                              href="/collections/hair-extensions-bundle"
                              class="menu-drawer__menu-item link link--text list-menu__item focus-inset{% if request.path == '/collections/hair-extensions-bundle' %} menu-drawer__menu-item--active{% endif %}"
                              {% if request.path == '/collections/hair-extensions-bundle' %}
                                aria-current="page"
                              {% endif %}
                            >
                              Value Bundles
                            </a>
                          </li>

                          <li>
                            <a
                              id="HeaderDrawer-christmas-shop-shipping-time"
                              href="/pages/christmas-postal-dates-2024"
                              class="menu-drawer__menu-item link link--text list-menu__item focus-inset{% if request.path == '/pages/christmas-postal-dates-2024' %} menu-drawer__menu-item--active{% endif %}"
                              {% if request.path == '/pages/christmas-postal-dates-2024' %}
                                aria-current="page"
                              {% endif %}
                            >
                              Christmas Shipping Times
                            </a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </details>
                </li>
              {% endcomment %}

              <li>
                <details id="Details-menu-drawer-menu-item-6">
                  <summary
                    id="HeaderDrawer-blog"
                    class="menu-drawer__menu-item list-menu__item link link--text focus-inset"
                  >
                    BLOG
                    {% render 'icon-arrow' %}
                    {% render 'icon-caret' %}
                  </summary>
                  <div
                    id="link-blog"
                    class="menu-drawer__submenu has-submenu gradient motion-reduce"
                    tabindex="-1"
                  >
                    <div class="menu-drawer__inner-submenu">
                      <button class="menu-drawer__close-button link link--text focus-inset" aria-expanded="true">
                        {% render 'icon-arrow' %}
                        BACK
                      </button>
                      <ul class="menu-drawer__menu list-menu" role="list" tabindex="-1">
                        <li>
                          <a
                            id="HeaderDrawer-blog-blog-homepage"
                            href="/blogs/hair-blog"
                            class="menu-drawer__menu-item link link--text list-menu__item focus-inset{% if request.path == '/blogs/hair-blog' %} menu-drawer__menu-item--active{% endif %}"
                            {% if request.path == '/blogs/hair-blog' %}
                              aria-current="page"
                            {% endif %}
                          >
                            Blog Homepage
                          </a>
                        </li>

                        <li>
                          <a
                            id="HeaderDrawer-blog-latest-blogs"
                            href="/blogs/hair-blog#main-blog-section"
                            class="menu-drawer__menu-item link link--text list-menu__item focus-inset{% if request.path == '/blogs/hair-blog#main-blog-section' %} menu-drawer__menu-item--active{% endif %}"
                            {% if request.path == '/blogs/hair-blog#main-blog-section' %}
                              aria-current="page"
                            {% endif %}
                          >
                            Latest Blogs
                          </a>
                        </li>

                        <li>
                          <a
                            id="HeaderDrawer-blog-hair-extension-bible"
                            href="/blogs/hair-blog/tagged/the-hair-extensions-bible"
                            class="menu-drawer__menu-item link link--text list-menu__item focus-inset{% if request.path == '/blogs/hair-blog/tagged/the-hair-extensions-bible' %} menu-drawer__menu-item--active{% endif %}"
                            {% if request.path == '/blogs/hair-blog/tagged/the-hair-extensions-bible' %}
                              aria-current="page"
                            {% endif %}
                          >
                            Hair Extension Bible
                          </a>
                        </li>

                        <li>
                          <a
                            id="HeaderDrawer-blog-top-trends"
                            href="/blogs/hair-blog/tagged/top-trends"
                            class="menu-drawer__menu-item link link--text list-menu__item focus-inset{% if request.path == '/blogs/hair-blog/tagged/top-trends' %} menu-drawer__menu-item--active{% endif %}"
                            {% if request.path == '/blogs/hair-blog/tagged/top-trends' %}
                              aria-current="page"
                            {% endif %}
                          >
                            Top Trends
                          </a>
                        </li>

                        <li>
                          <a
                            id="HeaderDrawer-blog-styling-guides-tutorials"
                            href="/blogs/hair-blog/tagged/styling-guides-tutorials"
                            class="menu-drawer__menu-item link link--text list-menu__item focus-inset{% if request.path == '/blogs/hair-blog/tagged/styling-guides-tutorials' %} menu-drawer__menu-item--active{% endif %}"
                            {% if request.path == '/blogs/hair-blog/tagged/styling-guides-tutorials' %}
                              aria-current="page"
                            {% endif %}
                          >
                            Styling Guides & Tutorials
                          </a>
                        </li>

                        <li>
                          <a
                            id="HeaderDrawer-blog-haircare-tips"
                            href="/blogs/hair-blog/tagged/hair-care-tips"
                            class="menu-drawer__menu-item link link--text list-menu__item focus-inset{% if request.path == '/blogs/hair-blog/tagged/hair-care-tips' %} menu-drawer__menu-item--active{% endif %}"
                            {% if request.path == '/blogs/hair-blog/tagged/hair-care-tips' %}
                              aria-current="page"
                            {% endif %}
                          >
                            Haircare & Tips
                          </a>
                        </li>

                        <li>
                          <a
                            id="HeaderDrawer-blog-wedding-occasion-hair"
                            href="/blogs/hair-blog/tagged/wedding-occasion-hair"
                            class="menu-drawer__menu-item link link--text list-menu__item focus-inset{% if request.path == '/blogs/hair-blog/tagged/wedding-occasion-hair' %} menu-drawer__menu-item--active{% endif %}"
                            {% if request.path == '/blogs/hair-blog/tagged/wedding-occasion-hair' %}
                              aria-current="page"
                            {% endif %}
                          >
                            Wedding & Occasion Hair
                          </a>
                        </li>

                        <li>
                          <a
                            id="HeaderDrawer-blog-celebrity-lifestyle"
                            href="/blogs/hair-blog/tagged/lifestyle-pop-culture"
                            class="menu-drawer__menu-item link link--text list-menu__item focus-inset{% if request.path == '/blogs/hair-blog/tagged/lifestyle-pop-culture' %} menu-drawer__menu-item--active{% endif %}"
                            {% if request.path == '/blogs/hair-blog/tagged/lifestyle-pop-culture' %}
                              aria-current="page"
                            {% endif %}
                          >
                            Celebrity & Lifestyle
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </details>
              </li>

              <li>
                <details id="Details-menu-drawer-menu-item-7">
                  <summary
                    id="HeaderDrawer-info-hub"
                    class="menu-drawer__menu-item list-menu__item link link--text focus-inset{% if link.child_active %} menu-drawer__menu-item--active{% endif %}"
                  >
                    INFO HUB
                    {% render 'icon-arrow' %}
                    {% render 'icon-caret' %}
                  </summary>
                  <div
                    id="link-info-hub"
                    class="menu-drawer__submenu has-submenu gradient motion-reduce menu-drawer__navigation-container"
                    tabindex="-1"
                  >
                    <div class="menu-drawer__inner-submenu">
                      <button class="menu-drawer__close-button link link--text focus-inset" aria-expanded="true">
                        {% render 'icon-arrow' %}
                        BACK
                      </button>
                      <ul class="menu-drawer__menu list-menu" role="list" tabindex="-1">
                        <li>
                          <a
                            id="HeaderDrawer-info-hub-our-story"
                            href="/pages/about-us"
                            class="menu-drawer__menu-item link link--text list-menu__item focus-inset{% if request.path == '/pages/about-us' %} menu-drawer__menu-item--active{% endif %}"
                            {% if request.path == '/pages/about-us' %}
                              aria-current="page"
                            {% endif %}
                          >
                            Our Story
                          </a>
                        </li>

                        <li>
                          <a
                            id="HeaderDrawer-info-hub-rewards"
                            href="/pages/rewards"
                            class="menu-drawer__menu-item link link--text list-menu__item focus-inset{% if request.path == '/pages/rewards' %} menu-drawer__menu-item--active{% endif %}"
                            {% if request.path == '/pages/rewards' %}
                              aria-current="page"
                            {% endif %}
                          >
                            Rewards
                          </a>
                        </li>

                        <li>
                          <a
                            id="HeaderDrawer-info-hub-our-contact-us"
                            href="/pages/contact-us"
                            class="menu-drawer__menu-item link link--text list-menu__item focus-inset{% if request.path == '/pages/contact-us' %} menu-drawer__menu-item--active{% endif %}"
                            {% if request.path == '/pages/contact-us' %}
                              aria-current="page"
                            {% endif %}
                          >
                            Contact Us
                          </a>
                        </li>

                        <li>
                          <a
                            id="HeaderDrawer-info-hub-care-instructions"
                            href="/pages/care-instructions"
                            class="menu-drawer__menu-item link link--text list-menu__item focus-inset{% if request.path == '/pages/care-instructions' %} menu-drawer__menu-item--active{% endif %}"
                            {% if request.path == '/pages/care-instructions' %}
                              aria-current="page"
                            {% endif %}
                          >
                            Care Instructions
                          </a>
                        </li>

                        <li>
                          <a
                            id="HeaderDrawer-info-hub-shipping"
                            href="/pages/hair-extensions-shipping-delivery"
                            class="menu-drawer__menu-item link link--text list-menu__item focus-inset{% if request.path == '/pages/hair-extensions-shipping-delivery' %} menu-drawer__menu-item--active{% endif %}"
                            {% if request.path == '/pages/hair-extensions-shipping-delivery' %}
                              aria-current="page"
                            {% endif %}
                          >
                            Shipping Information
                          </a>
                        </li>

                        <li>
                          <a
                            id="HeaderDrawer-info-hub-returns"
                            href="/pages/returns-information"
                            class="menu-drawer__menu-item link link--text list-menu__item focus-inset{% if request.path == '/pages/returns-information' %} menu-drawer__menu-item--active{% endif %}"
                            {% if request.path == '/pages/returns-information' %}
                              aria-current="page"
                            {% endif %}
                          >
                            Returns
                          </a>
                        </li>

                        <li>
                          <a
                            id="HeaderDrawer-info-hub-faqs"
                            href="/pages/faqs"
                            class="menu-drawer__menu-item link link--text list-menu__item focus-inset{% if request.path == '/pages/faqs' %} menu-drawer__menu-item--active{% endif %}"
                            {% if request.path == '/pages/faqs' %}
                              aria-current="page"
                            {% endif %}
                          >
                            FAQs
                          </a>
                        </li>

                        <li>
                          <a
                            id="HeaderDrawer-info-hub-blog"
                            href="/blogs/hair-blog"
                            class="menu-drawer__menu-item link link--text list-menu__item focus-inset{% if request.path == '/blogs/hair-blog' %} menu-drawer__menu-item--active{% endif %}"
                            {% if request.path == '/blogs/hair-blog' %}
                              aria-current="page"
                            {% endif %}
                          >
                            Blog
                          </a>
                        </li>

                        <li>
                          <span
                            id="HeaderDrawer-info-hub-our-ambassador"
                            class="menu-drawer__menu-item link link--text list-menu__item focus-inset"
                          >
                            <span onclick="klrRecruit.openRecruit()">Become An Ambassador</span>
                          </span>
                        </li>

                        <li>
                          <modal-opener
                            id="HeaderDrawer-info-hub-our-trade"
                            class="no-js-hidden"
                            data-modal="#PopupModal-Trade-Account"
                          >
                            <button
                              id="HeaderDrawer-Popup-Trade-Account-info-hub"
                              class="menu-drawer__menu-item link link--text list-menu__item focus-inset"
                              type="button"
                              aria-haspopup="dialog"
                            >
                              Trade Application
                            </button>
                          </modal-opener>
                          <a
                            href="https://cliphairtrade.com/pages/trade-account"
                            aria-label="Goes to trade website"
                            class="menu-drawer__menu-item link link--text list-menu__item focus-inset no-js"
                          >
                            Trade Application
                          </a>
                        </li>
                      </ul>
                    </div>
                    <div class="menu-drawer__utility-links">
                      <div class="menu-drawer__contact">
                        <a
                          href="{%- if customer -%}{{ routes.account_url }}{%- else -%}{{ routes.account_login_url }}{%- endif -%}"
                          class="link focus-inset h5 large-up-hide"
                        >
                          Contact Us
                        </a>
                      </div>
                      <ul class="list list-social list-unstyled" role="list">
                        {%- if settings.social_twitter_link != blank -%}
                          <li class="list-social__item">
                            <a href="{{ settings.social_twitter_link }}" class="list-social__link link">
                              {%- render 'icon-twitter' -%}
                              <span class="visually-hidden">{{ 'general.social.links.twitter' | t }}</span>
                            </a>
                          </li>
                        {%- endif -%}
                        {%- if settings.social_facebook_link != blank -%}
                          <li class="list-social__item">
                            <a href="{{ settings.social_facebook_link }}" class="list-social__link link">
                              {%- render 'icon-facebook' -%}
                              <span class="visually-hidden">{{ 'general.social.links.facebook' | t }}</span>
                            </a>
                          </li>
                        {%- endif -%}
                        {%- if settings.social_pinterest_link != blank -%}
                          <li class="list-social__item">
                            <a href="{{ settings.social_pinterest_link }}" class="list-social__link link">
                              {%- render 'icon-pinterest' -%}
                              <span class="visually-hidden">{{ 'general.social.links.pinterest' | t }}</span>
                            </a>
                          </li>
                        {%- endif -%}
                        {%- if settings.social_instagram_link != blank -%}
                          <li class="list-social__item">
                            <a href="{{ settings.social_instagram_link }}" class="list-social__link link">
                              {%- render 'icon-instagram' -%}
                              <span class="visually-hidden">{{ 'general.social.links.instagram' | t }}</span>
                            </a>
                          </li>
                        {%- endif -%}
                        {%- if settings.social_tiktok_link != blank -%}
                          <li class="list-social__item">
                            <a href="{{ settings.social_tiktok_link }}" class="list-social__link link">
                              {%- render 'icon-tiktok' -%}
                              <span class="visually-hidden">{{ 'general.social.links.tiktok' | t }}</span>
                            </a>
                          </li>
                        {%- endif -%}
                        {%- if settings.social_tumblr_link != blank -%}
                          <li class="list-social__item">
                            <a href="{{ settings.social_tumblr_link }}" class="list-social__link link">
                              {%- render 'icon-tumblr' -%}
                              <span class="visually-hidden">{{ 'general.social.links.tumblr' | t }}</span>
                            </a>
                          </li>
                        {%- endif -%}
                        {%- if settings.social_snapchat_link != blank -%}
                          <li class="list-social__item">
                            <a href="{{ settings.social_snapchat_link }}" class="list-social__link link">
                              {%- render 'icon-snapchat' -%}
                              <span class="visually-hidden">{{ 'general.social.links.snapchat' | t }}</span>
                            </a>
                          </li>
                        {%- endif -%}
                        {%- if settings.social_youtube_link != blank -%}
                          <li class="list-social__item">
                            <a href="{{ settings.social_youtube_link }}" class="list-social__link link">
                              {%- render 'icon-youtube' -%}
                              <span class="visually-hidden">{{ 'general.social.links.youtube' | t }}</span>
                            </a>
                          </li>
                        {%- endif -%}
                        {%- if settings.social_vimeo_link != blank -%}
                          <li class="list-social__item">
                            <a href="{{ settings.social_vimeo_link }}" class="list-social__link link">
                              {%- render 'icon-vimeo' -%}
                              <span class="visually-hidden">{{ 'general.social.links.vimeo' | t }}</span>
                            </a>
                          </li>
                        {%- endif -%}
                      </ul>
                    </div>
                  </div>
                </details>
              </li>

              <li>
                <details id="Details-menu-drawer-menu-item-8">
                  <summary
                    id="HeaderDrawer-discounts"
                    class="menu-drawer__menu-item list-menu__item link link--text focus-inset"
                  >
                    OFFERS & SAVINGS
                    {% render 'icon-arrow' %}
                    {% render 'icon-caret' %}
                  </summary>
                  <div
                    id="link-discounts"
                    class="menu-drawer__submenu has-submenu gradient motion-reduce"
                    tabindex="-1"
                  >
                    <div class="menu-drawer__inner-submenu">
                      <button class="menu-drawer__close-button link link--text focus-inset" aria-expanded="true">
                        {% render 'icon-arrow' %}
                        BACK
                      </button>
                      <ul class="menu-drawer__menu list-menu" role="list" tabindex="-1">
                        <li>
                          <a
                            id="HeaderDrawer-discounts-rewards"
                            href="/pages/rewards"
                            class="menu-drawer__menu-item link link--text list-menu__item focus-inset{% if request.path == '/pages/rewards' %} menu-drawer__menu-item--active{% endif %}"
                            {% if request.path == '/pages/rewards' %}
                              aria-current="page"
                            {% endif %}
                          >
                            My Rewards
                          </a>
                        </li>

                        <li>
                          <a
                            id="HeaderDrawer-discounts-new-customer-discount"
                            href="/pages/rewards"
                            class="menu-drawer__menu-item link link--text list-menu__item focus-inset{% if request.path == '/pages/rewards' %} menu-drawer__menu-item--active{% endif %}"
                            {% if request.path == '/pages/rewards' %}
                              aria-current="page"
                            {% endif %}
                          >
                            New Customer Discount
                          </a>
                        </li>

                        <li>
                          <a
                            id="HeaderDrawer-discounts-blue-light-card-discount"
                            href="/pages/blue-light-card"
                            class="menu-drawer__menu-item link link--text list-menu__item focus-inset{% if request.path == '/pages/blue-light-card' %} menu-drawer__menu-item--active{% endif %}"
                            {% if request.path == '/pages/blue-light-card' %}
                              aria-current="page"
                            {% endif %}
                          >
                            Blue Light Card Discount
                          </a>
                        </li>

                        <li>
                          <a
                            id="HeaderDrawer-discounts-student-discount"
                            href="https://www.studentbeans.com/student-discount/uk/cliphair"
                            target="_blank"
                            class="menu-drawer__menu-item link link--text list-menu__item focus-inset"
                          >
                            Student Discount
                          </a>
                        </li>

                        <li>
                          <a
                            id="HeaderDrawer-discounts-bundle"
                            href="/collections/hair-extensions-bundle"
                            class="menu-drawer__menu-item link link--text list-menu__item focus-inset{% if request.path == '/collections/hair-extensions-bundle' %} menu-drawer__menu-item--active{% endif %}"
                            {% if request.path == '/collections/hair-extensions-bundle' %}
                              aria-current="page"
                            {% endif %}
                          >
                            Value Bundles
                          </a>
                        </li>
                        <li>
                          <a
                            id="HeaderDrawer-discounts-outlet"
                            href="/collections/outlet"
                            class="menu-drawer__menu-item link link--text list-menu__item focus-inset{% if request.path == '/collections/outlet' %} menu-drawer__menu-item--active{% endif %}"
                            {% if request.path == '/collections/outlet' %}
                              aria-current="page"
                            {% endif %}
                          >
                            Outlet
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </details>
              </li>
            </ul>
          </nav>
          <div class="menu-drawer__utility-links">
            {%- if shop.customer_accounts_enabled -%}
              <a
                href="{%- if customer -%}{{ routes.account_url }}{%- else -%}{{ routes.account_login_url }}{%- endif -%}"
                class="menu-drawer__account link focus-inset h5 medium-hide large-up-hide"
              >
                {% render 'icon-account' %}
                {%- liquid
                  if customer
                    echo 'customer.account_fallback' | t
                  else
                    echo 'customer.log_in' | t
                  endif
                -%}
              </a>
            {%- endif -%}
            <div class="grid" style="justify-content:space-between; flex-direction:row-reverse;">
              <div class="menu-drawer__contact">
                <a
                  href="/pages/contact-us"
                  class="link focus-inset h5"
                >
                  Contact Us
                </a>
              </div>

              {%- if localization.available_countries or localization.available_languages -%}
                <div class="menu-drawer__localization header-localization">
                  {%- if localization.available_countries and localization.available_countries.size > 1 -%}
                    <noscript>
                      {%- form 'localization',
                        id: 'HeaderCountryMobileFormNoScriptDrawer',
                        class: 'localization-form'
                      -%}
                        <div class="localization-form__select">
                          <p class="visually-hidden" id="HeaderCountryMobileLabelNoScriptDrawer">
                            {{ 'localization.country_label' | t }}
                          </p>
                          <select
                            class="localization-selector link"
                            name="country_code"
                            aria-labelledby="HeaderCountryMobileLabelNoScriptDrawer"
                          >
                            {%- for country in localization.available_countries -%}
                              <option
                                value="{{ country.iso_code }}"
                                {%- if country.iso_code == localization.country.iso_code %}
                                  selected
                                {% endif %}
                              >
                                {{ country.name }} ({{ country.currency.iso_code }}
                                {{ country.currency.symbol }})
                              </option>
                            {%- endfor -%}
                          </select>
                          {% render 'icon-caret' %}
                        </div>
                        <button class="button button--tertiary">{{ 'localization.update_country' | t }}</button>
                      {%- endform -%}
                    </noscript>

                    <localization-form class="no-js-hidden">
                      {%- form 'localization', id: 'HeaderCountryMobileForm', class: 'localization-form' -%}
                        <div>
                          <p class="visually-hidden" id="HeaderCountryMobileLabel">
                            {{ 'localization.country_label' | t }}
                          </p>
                          {%- render 'country-localization', localPosition: 'HeaderCountryMobile' -%}
                        </div>
                      {%- endform -%}
                    </localization-form>
                  {% endif %}

                  {%- if localization.available_languages and localization.available_languages.size > 1 -%}
                    <noscript>
                      {%- form 'localization',
                        id: 'HeaderLanguageMobileFormNoScriptDrawer',
                        class: 'localization-form'
                      -%}
                        <div class="localization-form__select">
                          <h2 class="visually-hidden" id="HeaderLanguageMobileLabelNoScriptDrawer">
                            {{ 'localization.language_label' | t }}
                          </h2>
                          <select
                            class="localization-selector link"
                            name="locale_code"
                            aria-labelledby="HeaderLanguageMobileLabelNoScriptDrawer"
                          >
                            {%- for language in localization.available_languages -%}
                              <option
                                value="{{ language.iso_code }}"
                                lang="{{ language.iso_code }}"
                                {%- if language.iso_code == localization.language.iso_code %}
                                  selected
                                {% endif %}
                              >
                                {{ language.endonym_name | capitalize }}
                              </option>
                            {%- endfor -%}
                          </select>
                          {% render 'icon-caret' %}
                        </div>
                        <button class="button button--tertiary">{{ 'localization.update_language' | t }}</button>
                      {%- endform -%}
                    </noscript>

                    <localization-form class="no-js-hidden">
                      {%- form 'localization', id: 'HeaderLanguageMobileForm', class: 'localization-form' -%}
                        <div>
                          <h2 class="visually-hidden" id="HeaderLanguageMobileLabel">
                            {{ 'localization.language_label' | t }}
                          </h2>
                          {%- render 'language-localization', localPosition: 'HeaderLanguageMobile' -%}
                        </div>
                      {%- endform -%}
                    </localization-form>
                  {%- endif -%}
                </div>
              {%- endif -%}
            </div>

            <ul class="list list-social list-unstyled" role="list">
              {%- if settings.social_twitter_link != blank -%}
                <li class="list-social__item">
                  <a href="{{ settings.social_twitter_link }}" class="list-social__link link">
                    {%- render 'icon-twitter' -%}
                    <span class="visually-hidden">{{ 'general.social.links.twitter' | t }}</span>
                  </a>
                </li>
              {%- endif -%}
              {%- if settings.social_facebook_link != blank -%}
                <li class="list-social__item">
                  <a href="{{ settings.social_facebook_link }}" class="list-social__link link">
                    {%- render 'icon-facebook' -%}
                    <span class="visually-hidden">{{ 'general.social.links.facebook' | t }}</span>
                  </a>
                </li>
              {%- endif -%}
              {%- if settings.social_pinterest_link != blank -%}
                <li class="list-social__item">
                  <a href="{{ settings.social_pinterest_link }}" class="list-social__link link">
                    {%- render 'icon-pinterest' -%}
                    <span class="visually-hidden">{{ 'general.social.links.pinterest' | t }}</span>
                  </a>
                </li>
              {%- endif -%}
              {%- if settings.social_instagram_link != blank -%}
                <li class="list-social__item">
                  <a href="{{ settings.social_instagram_link }}" class="list-social__link link">
                    {%- render 'icon-instagram' -%}
                    <span class="visually-hidden">{{ 'general.social.links.instagram' | t }}</span>
                  </a>
                </li>
              {%- endif -%}
              {%- if settings.social_tiktok_link != blank -%}
                <li class="list-social__item">
                  <a href="{{ settings.social_tiktok_link }}" class="list-social__link link">
                    {%- render 'icon-tiktok' -%}
                    <span class="visually-hidden">{{ 'general.social.links.tiktok' | t }}</span>
                  </a>
                </li>
              {%- endif -%}
              {%- if settings.social_tumblr_link != blank -%}
                <li class="list-social__item">
                  <a href="{{ settings.social_tumblr_link }}" class="list-social__link link">
                    {%- render 'icon-tumblr' -%}
                    <span class="visually-hidden">{{ 'general.social.links.tumblr' | t }}</span>
                  </a>
                </li>
              {%- endif -%}
              {%- if settings.social_snapchat_link != blank -%}
                <li class="list-social__item">
                  <a href="{{ settings.social_snapchat_link }}" class="list-social__link link">
                    {%- render 'icon-snapchat' -%}
                    <span class="visually-hidden">{{ 'general.social.links.snapchat' | t }}</span>
                  </a>
                </li>
              {%- endif -%}
              {%- if settings.social_youtube_link != blank -%}
                <li class="list-social__item">
                  <a href="{{ settings.social_youtube_link }}" class="list-social__link link">
                    {%- render 'icon-youtube' -%}
                    <span class="visually-hidden">{{ 'general.social.links.youtube' | t }}</span>
                  </a>
                </li>
              {%- endif -%}
              {%- if settings.social_vimeo_link != blank -%}
                <li class="list-social__item">
                  <a href="{{ settings.social_vimeo_link }}" class="list-social__link link">
                    {%- render 'icon-vimeo' -%}
                    <span class="visually-hidden">{{ 'general.social.links.vimeo' | t }}</span>
                  </a>
                </li>
              {%- endif -%}
            </ul>
          </div>
        </div>
      </div>
    </div>
  </details>
</header-drawer>
