{{ 'section-yotpo-reviews-dynamic.css' | asset_url | stylesheet_tag }}
{{ 'component-slider.css' | asset_url | stylesheet_tag }}

{% style %}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{% endstyle %}

<style>
  .halo-banner-reviews .main-wrapper {
    display: flex;
    column-gap: 8rem;
    row-gap:4rem;
    flex-wrap:wrap;
    --page-width:990px;
  }

  .halo-banner-reviews .banner-wrapper,
  .halo-banner-reviews .reviews-list-wrapper{
    width:100%;
  } 

  .halo-banner-reviews .banner-wrapper img {
    width: 100%;
    height: auto;
    aspect_ratio: initial;
    margin: 0;
    padding: 0;
    display: block;
  }

  @media screen and (min-width:990px){
    .halo-banner-reviews .banner-wrapper {
      width: calc(65% - 4rem);
    }

    .halo-banner-reviews .reviews-list{
      scroll-padding-left:0;
    }

    .halo-banner-reviews .reviews-list-wrapper{
      align-content:center;
      width: calc(35% - 4rem);
      padding:0;
    }

    .reviews-list::after{
      content:none;
    }

    .halo-banner-reviews .reviews-list__item {
      margin: 0!important;
      min-width: unset!important;
      max-width: unset!important;
      width: 100%!important;
    }

    .modal-opener__button{
      width:100%;
    }
  }
</style>

<div
  class="color-{{ section.settings.color_scheme }} gradient section-{{ section.id }}-padding {% if section.settings.trackable_name != blank %}trackable-section{% endif %} halo-banner-reviews"
  {% if section.settings.trackable_name != blank %}
    id="{{ section.settings.trackable_name | handleize }}"
    data-section-name="{{ section.settings.trackable_name | handleize }}"
    data-section-instance="{{ section.id }}"
  {% else %}
    id="{{ section.id }}"
  {% endif %}
>
  <div class='page-width  main-wrapper'>
    <div class="banner-wrapper">
      {%- liquid
        assign height = section.settings.image.width | divided_by: section.settings.image.aspect_ratio | round
        if section.settings.image_behavior == 'ambient'
          assign sizes = '120vw'
          assign widths = '450, 660, 900, 1320, 1800, 2136, 2400, 3600, 7680'
        else
          assign sizes = '100vw'
          assign widths = '375, 550, 750, 1100, 1500, 1780, 2000, 3000, 3840'
        endif
      -%}
      {% if section.settings.image_url %}<a href="{{ section.settings.image_url }}">{% endif %}
      <picture>
        <source media="(max-width:768px)" srcset="{{ section.settings.image | image_url: width: 768 }}">
        {% if section.settings.image_desktop %}
          <source media="(min-width:769px)" srcset="{{ section.settings.image_desktop | image_url: width: 3840 }}">
        {% endif %}
        <img
          src="{{ section.settings.image | image_url: width: 768 }}"
          loading="lazy"
          alt="{{ section.settings.image.alt }}"
          width="{{ widths }}"
          height="{{ height }}"
          sizes="{{ sizes }}"
        >
      </picture>
      {% if section.settings.image_url %}</a>{% endif %}
    </div>
    {%- liquid
      assign columns_mobile_int = section.settings.columns_mobile | plus: 0
      assign show_mobile_slider = false
      if section.settings.swipe_on_mobile
        assign show_mobile_slider = true
      endif

      assign columns_desktop_int = section.settings.columns_desktop | plus: 0
      assign show_desktop_slider = false
      if section.settings.swipe_on_desktop
        assign show_desktop_slider = true
      endif

      assign columns_tablet = columns_desktop_int | plus: columns_mobile_int | divided_by: 2 | ceil
      if section.settings.swipe_on_desktop
        assign show_tablet_slider = true
      endif

      assign product_id = ''
      if template.name == 'product'
        assign product_id = product.id
      endif
    -%}

    <yotpo-dynamic-reviews
      data-product-id="{{ product_id }}"
      data-section-id="{{ section.id }}"
      class="reviews-list-wrapper isolate no-heading no-mobile-link"
    >
      <div id="reviews-loading" class="reviews-loading">
        <div class="spinner"></div>
      </div>

      <slider-component
        data-visual="counter"
        class="slider-mobile-gutter{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
      >
        <ul
          class="reviews-list contains-card contains-card--collection{% if settings.card_style == 'standard' %} contains-card--standard{% endif %} grid grid--{{ section.settings.columns_desktop }}-col-desktop grid--{{ columns_tablet }}-col-tablet grid--{{ section.settings.columns_mobile }}-col-tablet-down{% if section.settings.swipe_on_mobile or section.settings.swipe_on_desktop %} slider grid--peek{% endif %}{% if section.settings.swipe_on_mobile %} slider--tablet{% endif %}{% if section.settings.swipe_on_desktop %} slider--desktop{% endif %} videos-list--{{ section.blocks.size }}-items slide-mobile-{{ show_mobile_slider }} slide-tablet-{{ show_tablet_slider }} slide-desktop-{{ show_desktop_slider }}"
          id="Slider-{{ section.id }}"
          role="list"
          {% if section.settings.trackable_name != blank %}
            data-horizontal-scroll
          {% endif %}
        >
          {%- liquid
            assign columns = section.blocks.size
            if columns > 3
              assign columns = 3
            endif
          -%}
        </ul>

        {%- if show_mobile_slider or show_tablet_slider or show_desktop_slider -%}
          <div class="slider-buttons slider-buttons-square no-js-hidden slider--{{ section.settings.columns_desktop }}-col-desktop slider--{{ section.settings.columns_mobile }}-col-tablet-down">
            <button
              type="button"
              class="slider-button slider-button--prev"
              name="previous"
              aria-label="{{ 'general.slider.previous_slide' | t }}"
            >
              {% render 'icon-caret' %}
            </button>

            <div class="slider-counter caption visually-hidden">
              <span class="slider-counter--current">1</span>
              <span aria-hidden="true"> / </span>
              <span class="visually-hidden">{{ 'general.slider.of' | t }}</span>
              <span class="slider-counter--total">{{ section.blocks.size }}</span>
            </div>
            <button
              type="button"
              class="slider-button slider-button--next"
              name="next"
              aria-label="{{ 'general.slider.next_slide' | t }}"
            >
              {% render 'icon-caret' %}
            </button>
          </div>
        {%- endif -%}
      </slider-component>

      <template id="base-review-template">
        <li
          id="Slide-{{ section.id }}-FORLOOP.INDEX"
          class="reviews-list__item grid__item custom__slide{% if show_mobile_slider or show_tablet_slider or show_desktop_slider %} slider__slide{% endif %}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
          {% if settings.animations_reveal_on_scroll %}
            data-cascade
            style="--animation-order: FORLOOP.INDEX;"
          {% endif %}
        >
          {% render 'review-card-with-modal', section_id: section.id %}
        </li>
      </template>
    </yotpo-dynamic-reviews>
  </div>
</div>

<script src="{{ 'yotpo-dynamic-modal.js' | asset_url }}" defer></script>

{% schema %}
{
  "name": "Colour Match & Review",
  "tag": "section",
  "class": "section section-reviews-list",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "Color scheme",
      "default": "background-1"
    },
    {
      "type": "range",
      "id": "columns_desktop",
      "min": 1,
      "max": 6,
      "step": 1,
      "default": 3,
      "label": "Number of columns on desktop"
    },
    {
      "type": "checkbox",
      "id": "swipe_on_desktop",
      "default": false,
      "label": "Enable swipe on desktop"
    },

    {
      "type": "header",
      "content": "Mobile Layout"
    },
    {
      "type": "select",
      "id": "columns_mobile",
      "options": [
        {
          "value": "1",
          "label": "1 column"
        },
        {
          "value": "2",
          "label": "2 columns"
        },
        {
          "value": "3",
          "label": "3 columns"
        }
      ],
      "default": "1",
      "label": "Number of columns on mobile"
    },
    {
      "type": "checkbox",
      "id": "swipe_on_mobile",
      "default": false,
      "label": "Enable swipe on mobile"
    },
    {
      "type": "header",
      "content": "Section banner"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Mobile image"
    },
    {
      "type": "image_picker",
      "id": "image_desktop",
      "label": "Dekstop image",
      "info": "Not required."
    },
    {
      "type": "url",
      "id": "image_url",
      "label": "Image url",
      "info": "Not required."
    },
    {
      "type": "header",
      "content": "Section Padding"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Top padding",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Bottom padding",
      "default": 36
    },
    {
      "type": "header",
      "content": "Tracking information"
    },
    {
      "type": "text",
      "id": "trackable_name",
      "label": "Section Name (for analytics)"
    }
  ],
  "presets": [
    {
      "name": "Colour Match & Review"
    }
  ]
}
{% endschema %}
