{{ 'logo-list.css' | asset_url | stylesheet_tag }}
{{ 'images-list-with-products.css' | asset_url | stylesheet_tag }}
{{ 'component-slider.css' | asset_url | stylesheet_tag }}
{{ 'section-main-product.css' | asset_url | stylesheet_tag }}
{{ 'component-card.css' | asset_url | stylesheet_tag }}
{{ 'component-price.css' | asset_url | stylesheet_tag }}
{{ 'section-main-product.css' | asset_url | stylesheet_tag }}

{% style %}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{% endstyle %}

<div
  class="color-{{ section.settings.color_scheme }} gradient section-{{ section.id }}-padding"
  id="{{ section.id }}"
>
  {%- liquid
    assign size = section.blocks.size
    assign remainder = size | modulo: 2
    assign total_columns = size | divided_by: 2 | plus: remainder

    assign current_index = 0

    assign columns_mobile_int = section.settings.columns_mobile | plus: 0
    assign show_mobile_slider = false
    if section.settings.swipe_on_mobile and total_columns > columns_mobile_int
      assign show_mobile_slider = true
    endif

    assign columns_desktop_int = section.settings.columns_desktop | plus: 0
    assign show_desktop_slider = false
    if section.settings.swipe_on_desktop and total_columns > columns_desktop_int
      assign show_desktop_slider = true
    endif

    assign columns_tablet = columns_desktop_int | plus: columns_mobile_int | divided_by: 2 | ceil
    if total_columns > columns_tablet and section.settings.swipe_on_desktop
      assign show_tablet_slider = true
    endif
  -%}

  <div
    class="images-list-wrapper {{ section.settings.text_allignment }} page-width isolate"
    {%- if show_mobile_slider or show_desktop_slider or show_tablet_slider -%}
      style="padding:0!important;"
    {% endif %}
  >
    {%- unless section.settings.title == blank -%}
      <div class="title-wrapper title-wrapper--no-top-margin page-width">
        <h2
          id="SectionHeading-{{ block.id }}"
          class="images-list-title inline-richtext {{ section.settings.heading_size }}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
        >
          {{ section.settings.title }}
        </h2>
      </div>
    {%- endunless -%}

    {% unless section.settings.introduction == blank %}
      <div class="intro-wrapper page-width">
        {{ section.settings.introduction }}
      </div>
    {% endunless %}

    <slider-component
      class="slider-mobile-gutter{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
      data-visual="{{ section.settings.slider_visual }}"
    >
      <ul
        class="images-list grid grid--{{ section.settings.columns_desktop }}-col-desktop grid--{{ columns_tablet }}-col-tablet grid--{{ section.settings.columns_mobile }}-col-tablet-down{% if section.settings.swipe_on_mobile or section.settings.swipe_on_desktop %} slider grid--peek{% endif %}{% if section.settings.swipe_on_mobile %} slider--tablet{% endif %}{% if section.settings.swipe_on_desktop %} slider--desktop{% endif %} images-list--{{ section.blocks.size }}-items "
        id="Slider-{{ section.id }}"
        role="list"
      >
        {%- liquid
          assign columns = total_columns
          if columns > 3
            assign columns = 3
          endif
        -%}

        {% for i in (1..total_columns) %}
          <li
            id="Slide-{{ section.id }}-{{ forloop.index }}"
            class="images-list__item grid__item custom__slide{% if show_mobile_slider or show_tablet_slider or show_desktop_slider %} slider__slide{% endif %}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
            {% if settings.animations_reveal_on_scroll %}
              data-cascade
              style="--animation-order: {{ forloop.index }};"
            {% endif %}
          >
            {% assign final_index = current_index | plus: 1 %}
            {% for j in (current_index..final_index) %}
              {% assign block = section.blocks[j] %}
              {% if block %}
                {% if block.settings.product != blank %}
                  <div class="no-js-hidden">
                    <modal-opener
                      class="product-popup-modal__opener no-js-hidden"
                      data-modal="#PopupModal-{{ block.id }}"
                      {{ block.shopify_attributes }}
                    >
                      <button
                        id="ProductPopup-{{ block.id }}"
                        class="h5"
                        type="button"
                        title="View used product"
                        aria-haspopup="dialog"
                      >
                        {%- if block.settings.image != blank
                          and block.settings.image.src != blank
                          and block.settings.text_label != blank
                        -%}
                          <div>
                            <img
                              srcset="{{ block.settings.image | image_url: width: block.settings.image_width }}"
                              src="{{ block.settings.image | image_url: width: 190 }}"
                              alt="{{ block.settings.image.alt | escape }}"
                              loading="lazy"
                              width="{{ block.settings.image.width }}"
                              height="{{ block.settings.image.height }}"
                            >

                            <div
                              class="pointer"
                              style="top:{{ block.settings.marker_vertical }}%; left:{{ block.settings.marker_horizontal }}%"
                            ></div>
                          </div>
                          <div class="text-container h5">
                            <p>{{ block.settings.text_label }}</p>
                          </div>
                        {%- endif -%}
                      </button>
                    </modal-opener>
                  </div>
                {% endif %}
                <div
                  {% if block.settings.product != blank %}
                    class="no-js"
                  {% endif %}
                >
                  {% if block.settings.product != blank %}
                    <a href="{{ block.settings.product.url }}" title="{{ block.settings.product.url }}">
                  {%- endif -%}
                  {%- if block.settings.image != blank and block.settings.image.src != blank -%}
                    <img
                      srcset="{{ block.settings.image | image_url: width: block.settings.image_width }}"
                      src="{{ block.settings.image | image_url: width: 190 }}"
                      alt="{{ block.settings.image.alt | escape }}"
                      loading="lazy"
                      width="{{ block.settings.image.width }}"
                      height="{{ block.settings.image.height }}"
                    >
                    <div class="text-container h5">
                      <p>{{ block.settings.text_label }}</p>
                    </div>
                  {%- endif -%}
                  {% if block.settings.product != blank %}
                    </a>
                  {%- endif -%}
                </div>
              {% endif %}
            {% endfor %}
            {% assign current_index = current_index | plus: 2 %}
          </li>
        {% endfor %}
      </ul>

      {%- if show_mobile_slider or show_tablet_slider or show_desktop_slider -%}
        <div class="slider-buttons no-js-hidden small-hide slider--{{ section.settings.columns_desktop }}-col-desktop slider--{{ section.settings.columns_mobile }}-col-tablet-down">
          <button
            type="button"
            class="slider-button slider-button--prev"
            name="previous"
            aria-label="{{ 'general.slider.previous_slide' | t }}"
          >
            {% render 'icon-caret' %}
          </button>

          <div class="slider-counter caption visually-hidden">
            <span class="slider-counter--current">1</span>
            <span aria-hidden="true"> / </span>
            <span class="visually-hidden">{{ 'general.slider.of' | t }}</span>
            <span class="slider-counter--total">{{ total_columns }}</span>
          </div>

          <button
            type="button"
            class="slider-button slider-button--next"
            name="next"
            aria-label="{{ 'general.slider.next_slide' | t }}"
          >
            {% render 'icon-caret' %}
          </button>
        </div>
      {%- endif -%}
    </slider-component>
  </div>
</div>

{%- for block in section.blocks -%}
  {% if block.settings.product != blank %}
    <modal-dialog
      id="PopupModal-{{ block.id }}"
      class="product-popup-modal section-images-list-with-product-link"
      {{ block.shopify_attributes }}
    >
      <div
        role="dialog"
        aria-label="{{ block.settings.text }}"
        aria-modal="true"
        class="product-popup-modal__content"
        tabindex="-1"
      >
        <button
          id="ModalClose-{{ block.id }}"
          type="button"
          class="product-popup-modal__toggle"
          aria-label="{{ 'accessibility.close' | t }}"
        >
          {% render 'icon-close' %}
        </button>
        <div class="product-popup-modal__content-info">
          <div class="image-container">
            <img
              srcset="{{ block.settings.image | image_url: width: block.settings.image.width }}"
              src="{{ block.settings.image | image_url }}"
              alt="{{ block.settings.image.alt | escape }}"
              loading="lazy"
              width="{{ block.settings.image.width }}"
              height="{{ block.settings.image.height }}"
            >
            <div class="label h5">
              <p>{{ block.settings.text_label }}</p>
            </div>
          </div>
          <div class="content-container">
            {% render 'card-product',
              card_product: block.settings.product,
              media_aspect_ratio: 'square',
              show_vendor: false,
              show_rating: true,
              lazy_load: 'lazy',
              show_quick_add: false,
              section_id: section.id,
              colour_as_title: false,
              show_type: false
            %}
          </div>
        </div>
      </div>
    </modal-dialog>
  {% endif %}
{%- endfor -%}

{% schema %}
{
  "name": "Images list",
  "tag": "section",
  "class": "section section-images-list images-list-with-products",
  "settings": [
    {
      "type": "inline_richtext",
      "id": "title",
      "label": "Heading"
    },
    {
      "type": "select",
      "id": "heading_size",
      "options": [
        {
          "value": "h2",
          "label": "Small"
        },
        {
          "value": "h1",
          "label": "Medium"
        },
        {
          "value": "h0",
          "label": "Large"
        }
      ],
      "default": "h1",
      "label": "Heading size"
    },
    {
      "type": "richtext",
      "id": "introduction",
      "label": "Introduction"
    },
    {
      "type": "select",
      "id": "text_allignment",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "left",
      "label": "Text allignment"
    },
    {
      "type": "range",
      "id": "columns_desktop",
      "min": 1,
      "max": 6,
      "step": 1,
      "default": 3,
      "label": "Number of columns on desktop"
    },
    {
      "type": "checkbox",
      "id": "swipe_on_desktop",
      "default": false,
      "label": "Enable swipe on desktop"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "Color scheme",
      "default": "background-1"
    },
    {
      "type": "header",
      "content": "Mobile Layout"
    },
    {
      "type": "select",
      "id": "columns_mobile",
      "options": [
        {
          "value": "1",
          "label": "1 column"
        },
        {
          "value": "2",
          "label": "2 columns"
        },
        {
          "value": "3",
          "label": "3 columns"
        }
      ],
      "default": "1",
      "label": "Number of columns on mobile"
    },
    {
      "type": "checkbox",
      "id": "swipe_on_mobile",
      "default": false,
      "label": "Enable swipe on mobile"
    },
    {
      "type": "select",
      "id": "slider_visual",
      "options": [
        {
          "value": "dots",
          "label": "t:sections.slideshow.settings.slider_visual.options__2.label"
        },
        {
          "value": "counter",
          "label": "t:sections.slideshow.settings.slider_visual.options__1.label"
        },
        {
          "value": "numbers",
          "label": "t:sections.slideshow.settings.slider_visual.options__3.label"
        }
      ],
      "default": "counter",
      "label": "t:sections.slideshow.settings.slider_visual.label"
    },
    {
      "type": "header",
      "content": "Section Padding"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Top padding",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Bottom padding",
      "default": 36
    }
  ],
  "blocks": [
    {
      "type": "image",
      "name": "Image",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "inline_richtext",
          "id": "text_label",
          "label": "Text"
        },
        {
          "type": "product",
          "id": "product",
          "label": "Product"
        },
        {
          "type": "header",
          "content": "Marker position"
        },
        {
          "type": "range",
          "id": "marker_vertical",
          "default": 50,
          "min": 0,
          "max": 100,
          "step": 5,
          "label": "Vertical"
        },
        {
          "type": "range",
          "id": "marker_horizontal",
          "default": 50,
          "min": 0,
          "max": 100,
          "step": 5,
          "label": "Horizontal"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Logo list"
    }
  ]
}
{% endschema %}
