{{ 'logo-list.css' | asset_url | stylesheet_tag }}
{{ 'component-slider.css' | asset_url | stylesheet_tag }}

{% style %}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{% endstyle %}
<style>
  .section-images-list-with-popup modal-opener > button {
    width: 100%;
    display: block;
    margin: 0;
    padding: 0;
    border: 0;
    background: none;
    cursor:pointer;
  }

  .section-images-list-with-popup .images-list__item img {
    width: 100%;
    display: block;
    height:auto;
    aspect-ratio:initial;
    margin: 0;
    padding: 0;
  }
</style>

<style>
  .image-popup-modal {
    box-sizing: border-box;
    opacity: 0;
    position: fixed;
    visibility: hidden;
    z-index: -1;
    margin: 0 auto;
    top: 0;
    left: 0;
    overflow: auto;
    width: 100%;
    background: rgba(var(--color-foreground), 0.2);
    height: 100%;
  }

  .image-popup-modal[open] {
    visibility: visible;
    opacity: 1;
    z-index: 101;
  }

  .image-popup-modal__dialog {
    display: flex;
    align-items: center;
    height: 100vh;
  }

  .image-popup-modal__content {
    border-radius: var(--popup-corner-radius);
    background-color: trasparent;
    overflow: auto;
    height: 100%;
    max-height:100vh;
    max-height: unset;
    margin: 0 auto;
    margin-top: 0px;
    padding: 0 1.5rem;
    left: 50%;
    transform: translate(-50%);
    width: 100%;
    max-width: unset;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-color: rgba(var(--color-foreground), var(--popup-border-opacity));
    border-style: solid;
    border-width: var(--popup-border-width);
    box-shadow: var(--popup-shadow-horizontal-offset) var(--popup-shadow-vertical-offset)
      var(--popup-shadow-blur-radius) rgba(var(--color-shadow), var(--popup-shadow-opacity));
    position:relative;
  }

  .image-popup-modal__toggle {
    background-color: rgb(var(--color-background));
    border: 0.1rem solid rgba(var(--color-foreground), 0.1);
    border-radius: 50%;
    color: rgba(var(--color-foreground), 0.55);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: sticky;
    padding: 1.2rem;
    z-index: 2;
    top: 1.5rem;
    width: 4rem;
    margin: 0 0 0 auto;
    position: absolute;
    right: 1.2rem;
  }

  .image-popup-modal__toggle .icon {
    height: auto;
    margin: 0;
    width: 2.2rem;
  }

  .image-popup-modal__content-info{
    height: 100%;
    text-align: center;
    padding: 5rem 0;
  }

  .image-popup-modal__content-info img{
    height: 100%;
    width:auto;
    display:block;
    margin:0 auto;
    max-width:100%;
    object-fit:contain;
  }

</style>

<div
  class="color-{{ section.settings.color_scheme }} gradient section-{{ section.id }}-padding {% if section.settings.trackable_name != blank %}trackable-section{% endif %}"
  {% if section.settings.trackable_name != blank %}
    id="{{ section.settings.trackable_name | handleize }}"
    data-section-name="{{ section.settings.trackable_name | handleize }}"
    data-section-instance="{{ section.id }}"
  {% else %}
    id="{{ section.id }}"
  {% endif %}
>
  {%- liquid
    assign columns_mobile_int = section.settings.columns_mobile | plus: 0
    assign show_mobile_slider = false
    if section.settings.swipe_on_mobile and section.blocks.size > columns_mobile_int
      assign show_mobile_slider = true
    endif

    assign columns_desktop_int = section.settings.columns_desktop | plus: 0
    assign show_desktop_slider = false
    if section.settings.swipe_on_desktop and section.blocks.size > columns_desktop_int
      assign show_desktop_slider = true
    endif

    assign columns_tablet = columns_desktop_int | plus: columns_mobile_int | divided_by: 2 | ceil
    if section.blocks.size > columns_tablet and section.settings.swipe_on_desktop
      assign show_tablet_slider = true
    endif
  -%}

  <div
    class="images-list-wrapper {{ section.settings.text_allignment }} page-width isolate"
    {%- if show_mobile_slider or show_desktop_slider or show_tablet_slider -%}
      style="padding:0!important;"
    {% endif %}
  >
    {%- unless section.settings.title == blank -%}
      <div class="title-wrapper title-wrapper--no-top-margin page-width">
        <h2
          id="SectionHeading-{{ block.id }}"
          class="images-list-title inline-richtext {{ section.settings.heading_size }}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
        >
          {{ section.settings.title }}
        </h2>
      </div>
    {%- endunless -%}

    {% unless section.settings.introduction == blank %}
      <div class="intro-wrapper page-width">
        {{ section.settings.introduction }}
      </div>
    {% endunless %}

    <slider-component
      class="slider-mobile-gutter{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
      data-visual="{{ section.settings.slider_visual }}"
    >
      <ul
        class="images-list grid grid--{{ section.settings.columns_desktop }}-col-desktop grid--{{ columns_tablet }}-col-tablet grid--{{ section.settings.columns_mobile }}-col-tablet-down{% if section.settings.swipe_on_mobile or section.settings.swipe_on_desktop %} slider grid--peek{% endif %}{% if section.settings.swipe_on_mobile %} slider--tablet{% endif %}{% if section.settings.swipe_on_desktop %} slider--desktop{% endif %} images-list--{{ section.blocks.size }}-items "
        id="Slider-{{ section.id }}"
        role="list"
        {% if section.settings.trackable_name != blank %}data-horizontal-scroll{% endif %}
      >
        {%- liquid
          assign columns = section.blocks.size
          if columns > 3
            assign columns = 3
          endif
        -%}

        {%- for block in section.blocks -%}
          {%- if block.settings.image != blank and block.settings.image.src != blank -%}
            <li
              id="Slide-{{ section.id }}-{{ forloop.index }}"
              class="images-list__item grid__item custom__slide{% if show_mobile_slider or show_tablet_slider or show_desktop_slider %} slider__slide{% endif %}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
              {{ block.shopify_attributes }}
              {% if settings.animations_reveal_on_scroll %}
                data-cascade
                style="--animation-order: {{ forloop.index }};"
              {% endif %}
            >
              {% if block.settings.popup_image %}
                <modal-opener
                  data-modal="#PopupImageModal-{{ block.id }}"
                  {{ block.shopify_attributes }}
                >
                  <button
                    class="no-js-hidden"
                    id="ImagePopup-{{ block.id }}"
                    type="button"
                    title="View Image"
                    aria-haspopup="dialog"
                    {% if section.settings.trackable_name != blank %}
                      data-event-type="section_click" 
                      data-cta-label="click_open_image"
                    {% endif %}
                  >
                    <img
                    srcset="{{ block.settings.image | image_url: width: block.settings.image.width }}"
                    src="{{ block.settings.image | image_url: width: 190 }}"
                    alt="{{ block.settings.image.alt | escape }}"
                    loading="lazy"
                    width="{{ block.settings.image.width }}"
                    height="{{ block.settings.image.height }}">
                  </button>
                </modal-opener>
                <modal-dialog id="PopupImageModal-{{ block.id }}" class="image-popup-modal" {{ block.shopify_attributes }}>
                  <div
                    role="dialog"
                    aria-label=""
                    aria-modal="true"
                    class="image-popup-modal__content"
                    tabindex="-1"
                  >
                    <button
                      id="ModalClose-{{ block.id }}"
                      type="button"
                      class="image-popup-modal__toggle"
                      aria-label="{{ 'accessibility.close' | t }}"
                    >
                      {% render 'icon-close' %}
                    </button>
                    <div class="image-popup-modal__content-info">
                      <img
                        src="{{ block.settings.popup_image | image_url: width: block.settings.popup_image.width }}"
                        alt="{{ block.settings.popup_image.alt | escape }}"
                        loading="lazy"
                        width="{{ block.settings.popup_image.width }}"
                        height="{{ block.settings.popup_image.height }}">
                    </div>
                  </div>
                </modal-dialog>
    
                <noscript>
                  <a href="{{ block.settings.image | image_url: width: block.settings.image.width }}">
                    <img
                    srcset="{{ block.settings.image | image_url: width: block.settings.image.width }}"
                    src="{{ block.settings.image | image_url: width: 190 }}"
                    alt="{{ block.settings.image.alt | escape }}"
                    loading="lazy"
                    width="{{ block.settings.image.width }}"
                    height="{{ block.settings.image.height }}">
                  </a>
                </noscript>
              {% else %}
                <img
                  srcset="{{ block.settings.image | image_url: width: block.settings.image.width }}"
                  src="{{ block.settings.image | image_url: width: 190 }}"
                  alt="{{ block.settings.image.alt | escape }}"
                  loading="lazy"
                  width="{{ block.settings.image.width }}"
                  height="{{ block.settings.image.height }}">
                {% if block.settings.text_label != null %}
                  <div class="text-container h5">{{ block.settings.text_label }}</div>
                {%- endif -%}
              {% endif %}
            </li>
          {% endif %}
        {%- endfor -%}
      </ul>

      {%- if show_mobile_slider or show_tablet_slider or show_desktop_slider -%}
        <div class="slider-buttons no-js-hidden small-hide slider--{{ section.settings.columns_desktop }}-col-desktop slider--{{ section.settings.columns_mobile }}-col-tablet-down">
          <button
            type="button"
            class="slider-button slider-button--prev"
            name="previous"
            aria-label="{{ 'general.slider.previous_slide' | t }}"
          >
            {% render 'icon-caret' %}
          </button>

          <div class="slider-counter caption visually-hidden">
            <span class="slider-counter--current">1</span>
            <span aria-hidden="true"> / </span>
            <span class="visually-hidden">{{ 'general.slider.of' | t }}</span>
            <span class="slider-counter--total">{{ section.blocks.size }}</span>
          </div>

          {% comment %}
            <div class="slider-counter slider-counter--{{ section.settings.slider_visual }}{% if section.settings.slider_visual == 'counter' or section.settings.slider_visual == 'numbers' %} caption{% endif %}">
              {%- if section.settings.slider_visual == 'counter' -%}
                <div>
                  <span class="slider-counter--current">1</span>
                  <span aria-hidden="true"> / </span>
                  <span class="visually-hidden">{{ 'general.slider.of' | t }}</span>
                  <span class="slider-counter--total">{{ section.blocks.size }}</span>
                </div>
              {%- else -%}
                <div class="slideshow__control-wrapper">
                  {% for block in section.blocks %}
                    <button
                      class="slider-counter__link slider-counter__link--{{ section.settings.slider_visual }} link"
                      aria-label="{{ 'sections.slideshow.load_slide' | t }} {{ forloop.index }} {{ 'general.slider.of' | t }} {{ forloop.length }}"
                      aria-controls="Slider-{{ section.id }}"
                    >
                      {%- if section.settings.slider_visual == 'numbers' -%}
                        {{ forloop.index -}}
                      {%- else -%}
                        <span class="dot"></span>
                      {%- endif -%}
                    </button>
                  {%- endfor -%}
                </div>
              {%- endif -%}
            </div>
          {% endcomment %}

          <button
            type="button"
            class="slider-button slider-button--next"
            name="next"
            aria-label="{{ 'general.slider.next_slide' | t }}"
          >
            {% render 'icon-caret' %}
          </button>
        </div>
      {%- endif -%}
    </slider-component>
  </div>
</div>

{% schema %}
{
  "name": "Images list",
  "tag": "section",
  "class": "section section-images-list-with-popup",
  "settings": [
    {
      "type": "inline_richtext",
      "id": "title",
      "label": "Heading"
    },
    {
      "type": "select",
      "id": "heading_size",
      "options": [
        {
          "value": "h2",
          "label": "Small"
        },
        {
          "value": "h1",
          "label": "Medium"
        },
        {
          "value": "h0",
          "label": "Large"
        }
      ],
      "default": "h1",
      "label": "Heading size"
    },
    {
      "type": "richtext",
      "id": "introduction",
      "label": "Introduction"
    },
    {
      "type": "select",
      "id": "text_allignment",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "left",
      "label": "Text allignment"
    },
    {
      "type": "range",
      "id": "columns_desktop",
      "min": 1,
      "max": 6,
      "step": 1,
      "default": 3,
      "label": "Number of columns on desktop"
    },
    {
      "type": "checkbox",
      "id": "swipe_on_desktop",
      "default": false,
      "label": "Enable swipe on desktop"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "Color scheme",
      "default": "background-1"
    },
    {
      "type": "header",
      "content": "Mobile Layout"
    },
    {
      "type": "select",
      "id": "columns_mobile",
      "options": [
        {
          "value": "1",
          "label": "1 column"
        },
        {
          "value": "2",
          "label": "2 columns"
        },
        {
          "value": "3",
          "label": "3 columns"
        }
      ],
      "default": "1",
      "label": "Number of columns on mobile"
    },
    {
      "type": "checkbox",
      "id": "swipe_on_mobile",
      "default": false,
      "label": "Enable swipe on mobile"
    },
    {
      "type": "select",
      "id": "slider_visual",
      "options": [
        {
          "value": "dots",
          "label": "t:sections.slideshow.settings.slider_visual.options__2.label"
        },
        {
          "value": "counter",
          "label": "t:sections.slideshow.settings.slider_visual.options__1.label"
        },
        {
          "value": "numbers",
          "label": "t:sections.slideshow.settings.slider_visual.options__3.label"
        }
      ],
      "default": "counter",
      "label": "t:sections.slideshow.settings.slider_visual.label"
    },
    {
      "type": "header",
      "content": "Section Padding"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Top padding",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Bottom padding",
      "default": 36
    },
    {
      "type": "header",
      "content": "Tracking information"
    },
    {
      "type": "text",
      "id": "trackable_name",
      "label": "Section Name (for analytics)"
    }
  ],
  "blocks": [
    {
      "type": "image",
      "name": "Image",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "image_picker",
          "id": "popup_image",
          "label": "Popup image"
        },
        {
          "type": "richtext",
          "id": "text_label",
          "label": "Text"
        },
        {
          "type": "url",
          "id": "link",
          "label": "Link",
          "info": "Optional"
        }
      ]
    }
  ]
}
{% endschema %}
